{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-3 logo-text" style="text-align:center;">Quotem</h1>
        <p style="margin-top:-30px;text-align:center;margin-bottom:60px;" class="lead text-muted" style="text-align:center;">Quotes for days</p>
            <center>
                <a href="/login" class="btn btn-lg btn-outline-success" id="loginButton">Login</a>
                <a href="/signup" class="btn btn-lg btn-outline-info">Sign Up</a>
            </center>
        </div>

    <div class="col-md-10 offset-md-1" id="featured">
        <h2>Popular Quotes</h2>
        <hr>
        <div class="row">
            {% for quote in popularQuotes %}
            <blockquote class="blockquote text-center card col-md-5" style="border-radius:20px;padding:20px;margin:20px;margin-left:40px;">
                <h3 style="text-align:left;margin-left:40px;"><span class="fa fa-quote-left"></span></h3>
                <p class="mb-0">{{quote[0]['quote']}}</p>
                <h3 style="text-align:right;margin-right:40px;"><span class="fa fa-quote-right"></span></h3>
                <footer class="blockquote-footer"><a href="/u/{{quote[1]['username']}}">{{quote[1]['name']}}</a></footer>
                <footer style="margin-top:20px;">
                    <p>{{quote[0]['requotes']|length}} <span class="fa fa-retweet" style="margin-right:10px;"></span>       {{quote[0]['likes']|length}} <span class="fa fa-heart"></p>
                </footer>
            </blockquote>
            {% endfor %}
        </div>
        <center>
            <a href="/popular">more</a>
        </center>
    </div>

    <div class="col-md-10 offset-md-1" style="margin-top:50px;margin-bottom:100px;" id="recent">
        <h2>Recent Quotes</h2>
        <hr>
        <div class="row">
            {% for quote in recentQuotes %}
            <blockquote class="blockquote text-center card col-md-5" style="border-radius:20px;padding:20px;margin:20px;margin-left:40px;">
                <h3 style="text-align:left;margin-left:40px;"><span class="fa fa-quote-left"></span></h3>
                <p class="mb-0">{{quote[0]['quote']}}</p>
                <h3 style="text-align:right;margin-right:40px;"><span class="fa fa-quote-right"></span></h3>
                <footer class="blockquote-footer"><a href="/u/{{quote[1]['name']}}">{{quote[1]['name']}}</a></footer>
                <footer style="margin-top:20px;">
                    <p>{{quote[0]['requotes']|length}} <span class="fa fa-retweet" style="margin-right:10px;"></span>       {{quote[0]['likes']|length}} <span class="fa fa-heart"></p>
                </footer>
            </blockquote>
            {% endfor %}
        </div>
        <center>
            <a href="/recent">more</a>
        </center>
    </div>

    <script src="javascripts/index.js"></script>
{% endblock %}
