{% for quote in popularQuotes %}
<blockquote class="blockquote text-center card" style="border-radius:20px;padding:20px;">
    <h3 style="text-align:left;margin-left:40px;"><span class="fa fa-quote-left"></span></h3>
    <p class="mb-0">{{quote.quote}}</p>
    <h3 style="text-align:right;margin-right:40px;"><span class="fa fa-quote-right"></span></h3>
    <footer class="blockquote-footer">{{quote.author}}</footer>
    <footer class="blockquote-footer">
        <p>{{quote.requotes|length}} <span class="fa fa-retweet"></span>       {{quote.likes|length}} <span class="fa fa-heart"></p>
    </footer>
</blockquote>
{% endfor %}
