{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <div class="col-md-4 offset-md-4">
        <table class="table" style="border:solid 4px #343A40;">
          <thead class="thead-dark">
            <tr>
              <th colspan="2" style="border:none;text-align:center;" scope="col"><h1 class="display-4" style="font-size:30px;color:white;">Top Tags</h1></th>
            </tr>
          </thead>
          <tbody>
              {% for tag in tags %}
                  <tr>
                    <td><a href="/tag/{{tag['slug']}}">#{{tag['name']}}</a></td>
                    <td>{{tag.quotes|length}} quotes</td>
                  </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
